/**********Whole Site****************/

html {
    /*border: 4px solid green;*/
    height: 100%;
}

body {
    /*border: 4px solid orange;*/
    height: 100%;
}

a:hover {
    text-decoration: none;
}

.well {
    background-color: #edecec !important;
    border: 1px solid #b8b8b8;
}
/*************************************/

/************Homepage*****************/
.logoBackground {
    /*border: 4px solid red;*/
    background-image: url('/static/img/homepage_bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.logoBackground img {
    width: 90%;
    z-index: 5;
}

.filter {
    background-color: rgba(0,0,0,.7);
    position: absolute;
    overflow: hidden;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 70%;
}

.homepage-link-div {
    background-color: #0077ff;
    display: flex;
    align-items: center;
    height: 30%;
}

.homepage-link-div a {
    /*border: 4px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-family: 'Muli', sans-serif;
    color: white;
    text-transform: uppercase;
    width: 50%;
    height: 100%;
}

.homepage-link-div a:hover {
    text-decoration: none;
}

.homepage-link-div .register {
    background-color: #0096ff;
}

.vert-separator {
    border: 1.5px solid white;
    height: 70%;
}
/*************************************/

/************Register Page************/
.topnav {
    /*border: 4px solid orange;*/
    background-color: #2e2e2e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    height: 11%;
}

.topnav img {
    /*border: 4px solid green;*/
    width: 60%;
}

.topnav a {
    color: #ffc000;
    font-size: 2.7em;
}

.main-content {
    /*border: 4px solid purple;*/
    /*display: flex;*/
    /*flex-direction: column;
    align-items: center;
    justify-content: center;*/
    padding: 5% 5% 5% 5%;
    height: 80%;
    overflow: scroll;
}

.bottom-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9%;
}

.bottom-buttons a {
    /*border: 4px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
    width: 50%;
    height: 100%;
}

.bottom-buttons a:hover {
    text-decoration: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #2e2e2e;
    overflow-x: hidden;
    padding-top: 15%;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    display: flex;
    flex-direction: column;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
}

.sidenav .yellow {
    width: 100%;
    background-color: #ffc000;
    color: #2e2e2e;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #0096ff;
}

.sidenav .about {
    color: white;
    margin-top: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px 0 20px;
}

.sidenav .about img {
    width: 50%;
    margin-bottom: 10px;
}

.sidenav .loggedin {
    color: #0096ff;
}
/*************************************/

/**************Login Page*************/
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form {
    /*border: 4px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 80%;
}

.login-form label{
    font-size: 1.5em;
}

.login-form input{
    height: 3em;
    border: 3px solid #0077ff;
    border-radius: 0;
}

.login-form input[type="text"],
.login-form input[type="password"]{
    font-size: 2em;
}

.login-form a {
    color: #0077ff;
    text-align: center;
    font-size: 1.2em;
}

.cancel {
    background-color: #ffc000;
    color: #2e2e2e;
}

.submit-login {
    background-color: #0077ff;
}

.login-fail {
    color: red;
}
/*************************************/

/************Register Page************/

.signup-form {
    /*border: 4px solid red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-fields {
    /*border: 4px solid green;*/
    width: 100%;
    display: none;
    flex-direction: column;
}

.role-group {
    text-align: center;
}

.role-label {
    font-size: 2em;
    color: #0096ff;
}

.signup-form input[type="text"],
.signup-form input[type="password"] {
    border: 1px solid #dadada;
    background: #ebebeb;
    padding: 5px 0 5px 10px;
    border-radius: 3px;
}

.signup-form input[type="file"] {
    /*border: 1px solid red;*/
}

.signup-form .form-group {
    /*border: 4px solid blue;*/
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 0 5px 0;
}


/*************************************/

/**************Kid Page***************/
.kid {
    /*justify-content: flex-start;*/
}

.kid h1 {
    text-transform: uppercase;
    font-size: 1.75em;
    color: #0077ff;
}

.profile {
    /*border: 4px solid green;*/
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4% 4% 4% 4%;
}

.profile-summary {
    /*border: 4px solid yellow;*/
    display: flex;
    flex-direction: column;
    width: 70%;
}

.edit-profile {
    margin-top: 10px;
}

.avatar {
    /*border: 4px solid purple;*/
}

.avatar img {
    /*border: 4px solid red;*/
    width: 7em;
    max-height: 7em;
    border-radius: 100%;
}

.bold {
    font-weight: bold;
}

.trip-type {
    color: #0096ff;
}

.call_parent {
    background-color: #ffc000;
    color: white;
}

.call_chaperone {
    background-color: #0096ff;
    color: white;
}

.qr-button {
    /*border: 4px solid blue;*/
    background-color: #0096ff;
    color: #2e2e2e;
    width: 100% !important;
}
/*************************************/

/**************Parent Page***************/
.parent{
    overflow:scroll;
}

.column {
    flex-direction: column;
}

.kid-profile {
    /*border: 4px solid orange;*/
    display: flex;
    align-items: center;
    width: 100%;
}

.horiz-line {
    color: black;
}

.call_kid {
    background-color: #ffc000;
    color: white;
}



/*************************************/

/***********Chaperone Page*************/
.chaperone {
    justify-content: flex-start;
}

.chaperone h1 {
    text-transform: uppercase;
    font-size: 1.75em;
    color: #0077ff;
}

.checkin-button {
    /*border: 4px solid blue;*/
    background-color: #ffc000;
    width: 100% !important;
}
/*************************************/

/* Full-width inputs */
/*input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}*/

/* Set a style for all buttons */
/*button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}*/


/* Extra style for the cancel button (red) */
/*.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}*/

/* Center the avatar image inside this container */
/*.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}*/

/* Avatar image */
/*img {
    width: 10%;
    height: 10%;
    border-radius: 50%;
}*/

/*.qrcode {
    height:40%;
    width: 40%;
    border-radius: 0;
    margin:10px;
}*/

/* Add padding to containers */
/*.container {
    padding: 16px;
}*/

/* The "Forgot password" text */
/*span.psw {
    float: right;*/
    /*padding-top: 16px;
}*/

/* Change styles for span and cancel button on extra small screens */
/*@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}*/
