html {
    /*border: 4px solid green;*/
    height: 100%;
}

body {
    /*border: 4px solid orange;*/
    height: 100%;
}

a:hover {
    text-decoration: none;
}

/*Login and Register Homepage Buttons*/
.logoBackground {
    /*border: 4px solid red;*/
    background-image: url('/static/img/homepage_bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.logoBackground img {
    width: 90%;
    z-index: 5;
}

.filter {
    background-color: rgba(0,0,0,.7);
    position: absolute;
    overflow: hidden;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 70%;
}

.homepage-link-div {
    background-color: #0077ff;
    display: flex;
    align-items: center;
    height: 30%;
}

.homepage-link-div a {
    /*border: 4px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
    width: 50%;
    height: 100%;
}

.homepage-link-div a:hover {
    text-decoration: none;
}

.homepage-link-div .register {
    background-color: #0096ff;
}

.vert-separator {
    border: 1.5px solid white;
    height: 70%;
}
/*************************************/

/*Page Template*/
.topnav {
    /*border: 4px solid orange;*/
    background-color: #2e2e2e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    height: 11%;
}

.topnav img {
    /*border: 4px solid green;*/
    width: 60%;
}

.topnav a {
    color: #ffc000;
    font-size: 2.7em;
}

.main-content {
    /*border: 4px solid purple;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 10% 5% 10%;
    height: 80%;
}

.bottom-buttons {
    display: flex;
    align-items: center;
    height: 9%;
}

.bottom-buttons a {
    /*border: 4px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
    width: 50%;
    height: 100%;
}

.bottom-buttons a:hover {
    text-decoration: none;
}
/*************************************/

/*Page Template*/
.login-form {
    /*border: 4px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 80%;
}

.login-form label{
    font-size: 1.5em;
}

.login-form input{
    height: 3em;
    border: 3px solid #0077ff;
    border-radius: 0;
}

.login-form input[type="text"],
.login-form input[type="password"]{
    font-size: 2em;
}

.login-form a {
    color: #0077ff;
    text-align: center;
    font-size: 1.2em;
}

.cancel {
    background-color: #ffc000;
}

.submit-login {
    background-color: #0077ff;
}
/*************************************/


/* Full-width inputs */
/*input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}*/

/* Set a style for all buttons */
/*button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}*/


/* Extra style for the cancel button (red) */
/*.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}*/

/* Center the avatar image inside this container */
/*.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}*/

/* Avatar image */
/*img {
    width: 10%;
    height: 10%;
    border-radius: 50%;
}*/

/*.qrcode {
    height:40%;
    width: 40%;
    border-radius: 0;
    margin:10px;
}*/

/* Add padding to containers */
/*.container {
    padding: 16px;
}*/

/* The "Forgot password" text */
/*span.psw {
    float: right;*/
    /*padding-top: 16px;
}*/

/* Change styles for span and cancel button on extra small screens */
/*@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}*/
