
<!DOCTYPE html>
<html>
  <head>
    <title>soccerstreets</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/soccerstreets.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>


  

  <body>
  	<div class="header">
  		<h1>Soccer Chaperones</h1>
  	</div>

  	<div class="container-fluid">
  	  <div class="prompt">
  	  	<h2>Take a Picture!</h2>
  	  </div>

  	  <input type="file" accept="image/*;capture=camera">
  	  <!--

  	    <video id="video" width="640" height="480" autoplay></video>
		<button id="snap">Snap Photo</button>
		<canvas id="canvas" width="640" height="480"></canvas>
			-->
	  <button class="btn">Send Picture</button>

	</div>

  </body>
  <script type ='text/javascript' src ='js/camera.js'></script>

</html>

