{% extends 'layout.html'%}

{% block body%}

    <div class="header">
      <h1>Soccer Chaperones</h1>
    </div>
    <form class="" action="/chap_checkin_submit" method="post">



    <div class="container-fluid">
      <h2>{{session['firstname']}} {{session['lastname']}}</h2>
      <p>
          {{phone}}
      </p>
      <h4>Scan the QR code on the child's phone</h4>
      <h4 id="name"></h4>


      <input type="hidden" name="chaperone_id" value="{{session['id']}}">

      <input id="ID" type="text" placeholder="Enter the child's ID " name="kid_id">
      <label>Origin</label>
      <select name = "origin_id" class="selectpicker" data-style="btn-primary">
        {% for station in query1 %}
        <option value="{{station.id}}">{{station.name}}</option>
        {% endfor %}
      </select>
      <label>Distination</label>
      <select name = "destination_id" class="selectpicker" data-style="btn-primary">
        {% for station in query1 %}
        <option value="{{station.id}}">{{station.name}}</option>
        {% endfor %}
      </select>

      <button id ="confirm" action="submit" class="btn-success">Confirm Check In</button>
      <div>
        <h4 class="checkin"></h4>
      </div>
   </div>
  </form>
{% endblock %}
