<!DOCTYPE html>
<html>
  <head>
    <title>Chaperone</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/soccerstreets.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <div class="header">
      <h1>Soccer Chaperones</h1>
    </div>

    <div class="container-fluid">

      <h4>Scan the QR code on the child's phone</h4>
      <h4 id="name"></h4>
      <input id="ID" type="text" placeholder="Enter the child's ID " name="ID">
      <button id="confirm" class='btn-success'>Confirm Check In</button>

      <div>
        <h4 class="checkin"></h4>
      </div>
   </div>

  </body>
  <script src="../static/js/jquery-1.12.0.js"></script>
  <script type ='text/javascript' src ='../static/js/chaperone.js'></script>
</html>