<!DOCTYPE html>
<html>

<head>
    <title>Trip Goalie</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/soccerstreets.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand" rel="stylesheet">
</head>

{% block main %}
    <body>
        <div class="topnav">
            <img src="/static/img/Trip-Goalie-Logo.png" alt="" />
            <a onclick="openNav()" href="#">&#9776;</a>
        </div>
        {% block body %}
        <div class="main-content">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="toFade">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h4>{{message}}</h4>
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        {% endblock %}
        <div class="bottom-buttons">
            {% block buttons %}
            {% endblock %}
        </div>
    </body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
{% endblock %}

<script src="static/js/jquery-1.12.0.js"></script>
<script src="static/js/tripgoalie.js"></script>

</html>

<!-- OLD CODE -->
<!-- {% if session['username'] %}
<h4>Hello {{session['username']}}!</h4>
<form class="form" action="/log_out" method="post">
    <div class="form-group">
        <button class="nr-btn fl left-btn" type="submit" action="/log_out" name="log_out">Log Out</button>
    </div>
</form>
{% else %}
<h4>Hello!</h4> {% endif %} -->
