<!-- <!DOCTYPE html>
<html>
  <head>
    <title>soccerstreets</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/soccerstreets.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head> -->

{% extends 'layout.html'%}



{% block body%}
    <div class="header">
      <h1>Trip Goalies</h1>
    </div>

    <div class="container-fluid">
    <form action="/submit_login" method="POST">

      <div class="imgcontainer">
        <img src="https://files.slack.com/files-pri/T048Y4BRV-F2VTQ7GN9/trip-goalie-logo-icon.png" alt="Avatar" class="avatar">
      </div>

      <div class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="pws" required>


        <button type="submit">Login</button>

        <a href="/register"><button class="btn-primary" type="button">Need an account? Sign Up!</button></a>
        <input type="checkbox" checked="checked"> Remember me
      </div>

    </form>
   </div>
{% endblock %}
