{% extends 'layout.html' %}

{% block body %}

<div class="main-content">
    <form enctype="multipart/form-data" class="signup-form form-horizontal" name="signup-form" action="/submit_register" method="POST">
        <div class="form-group role-group">
            <label class="control-label role-label">I am a:</label>
            <div class="radio">
                <label for="chaperone">
                    <input id="ChaperoneRadio" type="radio" name="optradio" value="chaperone">Chaperone
                </label>
                <label for="chaperone">
                    <input id="ParentRadio" type="radio" name="optradio" value="parent">Parent
                </label>
                <label for="chaperone">
                    <input id="KidRadio" type="radio" name="optradio" value="parent">Kid
                </label>
            </div>
        </div>

        <div class="signup-fields">
            <div class="form-group parent-code">
                <label for="parentid" class="control-label">Parent Sign Up Code</label>
                <input class="parentid" type="text" placeholder="Parent Code" name="parentid" required>
            </div>

            <div class="form-group">
                <label for="avatar" class="control-label">Profile Image</label>
                <input type="file" name="file" required>
            </div>

            <div class="form-group">
                <label for="fname" class="control-label">First Name: </label>
                <input type="text" placeholder="First Name" name="fname" required>
            </div>

            <div class="form-group">
                <label for="lname" class="control-label">Last Name: </label>
                <input type="text" placeholder="Last Name" name="lname" required>
            </div>

            <div class="form-group">
                <label for="phone" class="control-label">Phone Number: </label>
                <input type="text" placeholder="(XXX) XXX-XXXX" name="phone" required>
            </div>

            <div class="form-group marta-station">
                <label for="station_id" class="control-label">Select your closest MARTA station</label>
                <select name="station_id" class="from-control" data-style="btn-primary">
                    {% for station in query %}
                    <option value="{{station.id}}">{{station.name}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group breeze-card">
                <label for="breeze" class="control-label">Breeze Card Number</label>
                <input type="text" placeholder="Breeze Card Number" name="breeze" novalidate>
            </div>

            <div class="divider"></div>

            <div class="form-group">
                <label for="uname" class="control-label">Username:</label>
                <input type="text" placeholder="Username" name="uname" required>
            </div>

            <div class="form-group">
                <label for="pws" class="control-label">Password:</label>
                <input type="password" placeholder="password" name="pws" required>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block buttons %}
    <a class="cancel" href="/">Cancel</a>
    <a id="submit-login" class="submit-login" href="#" onclick="document.forms['signup-form'].submit();return false">Register</a>
{% endblock %}

{% block sidenav %}
<a href="http://www.soccerstreets.org/">Soccer in the Streets</a>
{% endblock %}
